﻿<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>IMDB</title>

    <link href="Assets/vendors/bootstrap/dist/css/bootstrap.css" rel="stylesheet">
    <link href="Assets/vendors/font-awesome/css/font-awesome.css" rel="stylesheet">
    <link href="Assets/vendors/nprogress/nprogress.css" rel="stylesheet">
    <link href="Assets/vendors/iCheck/skins/flat/green.css" rel="stylesheet">
    <link href="Assets/vendors/bootstrap-progressbar/css/bootstrap-progressbar-3.3.4.css" rel="stylesheet">
    <link href="Assets/vendors/jqvmap/dist/jqvmap.css" rel="stylesheet" />
    <link href="Assets/vendors/bootstrap-daterangepicker/daterangepicker.css" rel="stylesheet">
    <link href="Assets/vendors/bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.css" rel="stylesheet">
    <link href="Assets/vendors/datatables.net-bs/css/dataTables.bootstrap.css" rel="stylesheet">
    <link href="Assets/vendors/datatables.net-buttons-bs/css/buttons.bootstrap.css" rel="stylesheet">
    <link href="Assets/vendors/datatables.net-fixedheader-bs/css/fixedHeader.bootstrap.css" rel="stylesheet">
    <link href="Assets/vendors/datatables.net-responsive-bs/css/responsive.bootstrap.css" rel="stylesheet">
    <link href="Assets/vendors/datatables.net-scroller-bs/css/scroller.bootstrap.css" rel="stylesheet">
    <link href="Assets/vendors/pnotify/dist/pnotify.css" rel="stylesheet">
    <link href="Assets/vendors/pnotify/dist/pnotify.buttons.css" rel="stylesheet">
    <link href="Assets/vendors/pnotify/dist/pnotify.nonblock.css" rel="stylesheet">
    <link href="Assets/css/custom.css" rel="stylesheet" />


</head>
<body class="nav-md">
    <div class="container body" data-ng-app="app" ng-controller="appCtrl" class="app" id="app" ui-view>
        <div class="main_container">
            <div class="col-md-3 left_col">
                <div class="left_col scroll-view">
                    <div class="navbar nav_title" style="border: 0;">
                        <a href="index.html" class="site_title"><i class="fa fa-paw"></i><span>IMDB</span></a>
                    </div>
                    <div class="clearfix"></div>
                    <br />
                    <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
                        <div class="menu_section">
                            <ul class="nav side-menu">
                                <li id="moviesListli" class="menuList"><a id="moviesListTab" ng-click="loadView(0,moviesListli)"><i class="fa fa-film"></i>Movies</a></li>
                                <li id="actorsli" class="menuList"><a id="actorsTab" ng-click="loadView(1,actorsli)"><i class="fa fa-users"></i>Actors</a></li>
                                <li id="producerli" class="menuList"><a id="producersTab" ng-click="loadView(2,producerli)"><i class="fa fa-table"></i>Producers</a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="sidebar-footer hidden-small" style="display: none">
                        <a data-toggle="tooltip" data-placement="top" title="Logout" href="login.html">
                            <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="top_nav">
                <div class="nav_menu">
                    <nav>
                        <div class="nav toggle">
                            <a id="menu_toggle"><i class="fa fa-bars"></i></a>
                        </div>
                        <ul class="nav navbar-nav navbar-right">
                        </ul>
                    </nav>
                </div>
            </div>
            <div class="right_col" role="main">
                <div id="MoviesView" ng-show="viewId==0">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="x_panel">
                            <div class="x_title">
                                <button type="button" class="btn btn-primary collapse-link" style="float: right; margin-top: 5px;">
                                    Add new movie
                                </button>
                                <div class="clearfix"></div>
                            </div>
                            <div class="x_content" id="AddMovieForm">
                                <form class="form-horizontal form-label-left validateForm" novalidate>
                                    <div class="item form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12">
                                            Movie name <span class="required">*</span>
                                        </label>
                                        <div class="col-md-4 col-sm-6 col-xs-12">
                                            <input ng-model="newmovieTitle" class="form-control col-md-7 col-xs-12" type="text">
                                        </div>
                                    </div>
                                    <div class="item form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12">
                                            Plot <span class="required">*</span>
                                        </label>
                                        <div class="col-md-4 col-sm-6 col-xs-12">
                                            <textarea id="Plot" ng-model="newmoviePlot" class="form-control col-md-7 col-xs-12"></textarea>
                                        </div>
                                    </div>
                                    <div class="item form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12">
                                            Year of release <span class="required">*</span>
                                        </label>
                                        <div class="col-md-3 col-sm-6 col-xs-12">
                                            <select class="ui-select-custom" ng-model="newmovieReleaseYear" style="margin-top: 5px; width: 100px; height: 25px;">
                                                <option ng-repeat="year in YearList" value="{{year}}">{{year}}</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="item form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12">
                                            Actors <span class="required">*</span>
                                        </label>
                                        <div class="col-md-4 col-sm-6 col-xs-12">
                                            <select class="ui-select-custom" ng-model="newmovieActors" multiple="true" style="margin-top: 10px; width: 190px; height: 100px;">
                                                <option ng-repeat="actr in ActorsList" value="{{actr.id}}">{{actr.name}}</option>
                                            </select>
                                            <a href="#" ng-click="AddExternalActor(movie)">
                                                <i class="fa fa-plus" style="margin-left: 5px; margin-right: 5px;" aria-hidden="true"></i>Add external actor(s)
                                            </a>
                                        </div>
                                    </div>
                                    <div class="item form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12">
                                            Producer <span class="required">*</span>
                                        </label>
                                        <div class="col-md-4 col-sm-6 col-xs-12">
                                            <select class="ui-select-custom" ng-model="newmovieProducer" style="margin-top: 10px; width: 190px; height: 25px;">
                                                <option ng-repeat="prod in ProducersList" value="{{prod.id}}">{{prod.name}}</option>
                                            </select>
                                            <a href="#" ng-click="AddExternalProducer(movie)">
                                                <i class="fa fa-plus" style="margin-left: 5px; margin-right: 5px;" aria-hidden="true"></i>Add external producer
                                            </a>
                                        </div>
                                    </div>
                                    <div class="item form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="attachment">
                                            Attachment
                                        </label>
                                        <div class="col-md-4 col-sm-6 col-xs-12" style="margin-top: 5px;">
                                            <input type="file" id="fileName" onchange="previewFile(attchPreview)">
                                            <img src="" id="attchPreview" height="200" alt="Image preview..." style="display: none;">
                                        </div>
                                    </div>
                                    <div class="ln_solid"></div>
                                    <div class="form-group">
                                        <div class="col-md-6 col-md-offset-3">
                                            <button class="btn btn-primary" ng-click="ClearNewMovieInfo($event)">Cancel</button>
                                            <button class="btn btn-success" ng-click="SaveMovieInfo($event)">Create</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="x_panel">
                            <div class="x_title">
                                <h2>Movies</h2>
                                <button type="button" class="btn btn-primary" style="float: right; margin-top: 5px;" ng-click="EditAllMovies()">
                                    Edit all
                                </button>
                                <div class="clearfix"></div>
                            </div>
                            <div class="x_content">
                                <table id="Table2" class="table table-striped table-bordered">
                                    <thead>
                                        <tr>
                                            <th>Poster</th>
                                            <th>Title</th>
                                            <th>ReleaseYear</th>
                                            <th>Actors</th>
                                            <th>Producer</th>
                                            <th>Plot</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="movie in MovieList">
                                            <td>
                                                <img ng-show="movie.poster!=''&&movie.poster!=null" src="{{movie.poster}}" height="200" alt="Image preview..." style="height: 100px; width: 100px;">
                                            </td>
                                            <td>{{movie.title}}</td>
                                            <td>{{movie.releaseYear}}</td>
                                            <td>{{GetMovieActors(movie)}}</td>
                                            <td>{{GetMovieProducer(movie)}}</td>
                                            <td>{{movie.plot}}</td>
                                            <td>
                                                <!-- <a class="remove-row" style="float: right; margin-right: 10px">
                                                    <i class="fa fa-trash-o" aria-hidden="true" onclick="DeletePerson(actor)"></i>
                                                </a>-->
                                                <a href="#" style="float: right; margin-right: 80px;">
                                                    <i class="fa fa-edit" aria-hidden="true" ng-click="EditMovie(movie)"></i>
                                                </a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                </div>

                <div id="actorList" ng-show="viewId==1">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="x_panel">
                            <div class="x_title">
                                <button type="button" class="btn btn-primary collapse-link" style="float: right; margin-top: 5px;">
                                    Add actor 
                                </button>
                                <div class="clearfix"></div>
                            </div>
                            <div class="x_content" id="AddActorForm">
                                <form class="form-horizontal form-label-left validateForm" novalidate>
                                    <div class="item form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12">
                                            ActorName <span class="required">*</span>
                                        </label>
                                        <div class="col-md-4 col-sm-6 col-xs-12">
                                            <input ng-model="newActorName" class="form-control col-md-7 col-xs-12" type="text">
                                        </div>
                                    </div>
                                    <div class="item form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12">
                                            Date of birth <span class="required">*</span>
                                        </label>
                                        <div class='col-sm-4'>
                                            <div class="form-group">
                                                <div class='input-group date datepicker'>
                                                    <input id="newActorDob" ng-model="newActorDob" id='fromDate' type='text' class="form-control" />
                                                    <span class="input-group-addon">
                                                        <span class="glyphicon glyphicon-calendar"></span>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="item form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12">
                                            Gender <span class="required">*</span>
                                        </label>
                                        <div class="col-md-4 col-sm-6 col-xs-12">
                                            <select class="ui-select-custom" ng-model="newActorGender" class="form-control" required="required" style="margin-top: 5px; width: 100px; height: 25px;">
                                                <option value="true">Male</option>
                                                <option value="false">Female</option>

                                            </select>
                                        </div>
                                    </div>
                                    <div class="item form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Bio</label>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <textarea ng-model="newActorBio" class="form-control col-md-7 col-xs-12" type="text"></textarea>
                                        </div>
                                    </div>

                                    <div class="ln_solid"></div>
                                    <div class="form-group">
                                        <div class="col-md-6 col-md-offset-3">
                                            <button class="btn btn-primary" ng-click="ClearNewActorInfo($event)">Cancel</button>
                                            <button class="btn btn-success" ng-click="SaveActor($event)">Save</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="x_panel">
                            <div class="x_title">
                                <h2>Actors</h2>
                                <button type="button" class="btn btn-primary" style="float: right; margin-top: 5px;" ng-click="EditAllActors()">
                                    Edit all
                                </button>
                                <div class="clearfix"></div>
                            </div>
                            <div class="x_content">
                                <table id="userTable" class="table table-striped table-bordered">
                                    <thead>
                                        <tr>
                                            <th></th>
                                            <th>Name</th>
                                            <th>Date of birth</th>
                                            <th>Gender</th>
                                            <th>Bio</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="actor in ActorsList">
                                            <td>{{actor.id}}</td>
                                            <td>{{actor.name}}</td>
                                            <td>{{formatDate(actor.dob)}}</td>
                                            <td ng-show="actor.gender==true">Male</td>
                                            <td ng-show="actor.gender!=true">Female</td>
                                            <td>{{actor.bio}}</td>
                                            <td>
                                                <!-- <a class="remove-row" style="float: right; margin-right: 10px">
                                                    <i class="fa fa-trash-o" aria-hidden="true" onclick="DeletePerson(actor)"></i>
                                                </a>-->
                                                <a href="#" style="float: right; margin-right: 80px;">
                                                    <i class="fa fa-edit" aria-hidden="true" ng-click="EditPerson(actor)"></i>
                                                </a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

                <div id="producerList" ng-show="viewId==2">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="x_panel">
                            <div class="x_title">
                                <button type="button" class="btn btn-primary collapse-link" style="float: right; margin-top: 5px;">
                                    Add producer 
                                </button>
                                <div class="clearfix"></div>
                            </div>
                            <div class="x_content" id="AddProducerForm">
                                <form class="form-horizontal form-label-left validateForm" novalidate>
                                    <div class="item form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12">
                                            ProducerName <span class="required">*</span>
                                        </label>
                                        <div class="col-md-4 col-sm-6 col-xs-12">
                                            <input ng-model="newProducerName" class="form-control col-md-7 col-xs-12" type="text">
                                        </div>
                                    </div>
                                    <div class="item form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12">
                                            Date of birth <span class="required">*</span>
                                        </label>
                                        <div class='col-sm-4'>
                                            <div class="form-group">
                                                <div class='input-group date datepicker'>
                                                    <input id="newProducerDob" ng-model="newProducerDob" id='Text1' type='text' class="form-control" />
                                                    <span class="input-group-addon">
                                                        <span class="glyphicon glyphicon-calendar"></span>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="item form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12">
                                            Gender <span class="required">*</span>
                                        </label>
                                        <div class="col-md-4 col-sm-6 col-xs-12">
                                            <select class="ui-select-custom" ng-model="newProducerGender" class="form-control" required="required" style="margin-top: 5px; width: 100px; height: 25px;">
                                                <option value="true">Male</option>
                                                <option value="false">Female</option>

                                            </select>
                                        </div>
                                    </div>
                                    <div class="item form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Bio</label>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <textarea ng-model="newProducerBio" class="form-control col-md-7 col-xs-12" type="text"></textarea>
                                        </div>
                                    </div>

                                    <div class="ln_solid"></div>
                                    <div class="form-group">
                                        <div class="col-md-6 col-md-offset-3">
                                            <button class="btn btn-primary" ng-click="ClearNewProducerInfo($event)">Cancel</button>
                                            <button class="btn btn-success" ng-click="SaveProducer($event)">Save</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="x_panel">
                            <div class="x_title">
                                <h2>Producers</h2>
                                <button type="button" class="btn btn-primary" style="float: right; margin-top: 5px;" ng-click="EditAllProducers()">
                                    Edit all
                                </button>
                                <div class="clearfix"></div>
                            </div>
                            <div class="x_content">
                                <table id="Table1" class="table table-striped table-bordered">
                                    <thead>
                                        <tr>
                                            <th></th>
                                            <th>Name</th>
                                            <th>Date of birth</th>
                                            <th>Gender</th>
                                            <th>Bio</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="prodcuer in ProducersList">
                                            <td>{{prodcuer.id}}</td>
                                            <td>{{prodcuer.name}}</td>
                                            <td>{{formatDate(prodcuer.dob)}}</td>
                                            <td ng-show="prodcuer.gender==true">Male</td>
                                            <td ng-show="prodcuer.gender!=true">Female</td>
                                            <td>{{prodcuer.bio}}</td>
                                            <td>
                                                <!-- <a class="remove-row" style="float: right; margin-right: 10px">
                                                    <i class="fa fa-trash-o" aria-hidden="true" onclick="DeletePerson(prodcuer)"></i>
                                                </a>-->
                                                <a href="#" style="float: right; margin-right: 80px;">
                                                    <i class="fa fa-edit" aria-hidden="true" ng-click="EditPerson(prodcuer)"></i>
                                                </a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="EditPerson" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content" style="width: 600px; margin: auto;">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">
                                <span aria-hidden="true">×</span>
                            </button>
                            <h4 class="modal-title" ng-show="EditPersonObject.role==1">Actor Details</h4>
                            <h4 class="modal-title" ng-show="EditPersonObject.role==2">Producer Details</h4>
                        </div>
                        <div class="modal-body">
                            <div class="modal x_panel" tabindex="-1" role="dialog" aria-hidden="true">
                                <form id="PersonEditForm" class="form-horizontal form-label-left" novalidate>
                                    <div class="item form-group">
                                        <label ng-show="EditPersonObject.role==1" class="control-label col-md-3 col-sm-3 col-xs-12">
                                            ActorName <span class="required">*</span>
                                        </label>
                                        <label ng-show="EditPersonObject.role==2" class="control-label col-md-3 col-sm-3 col-xs-12">
                                            ProcuderName <span class="required">*</span>
                                        </label>
                                        <div class="col-md-4 col-sm-6 col-xs-12">
                                            <input ng-model="EditPersonObject.name" class="form-control col-md-7 col-xs-12" type="text">
                                        </div>
                                    </div>
                                    <div class="item form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12">
                                            Date of birth <span class="required">*</span>
                                        </label>
                                        <div class='col-sm-4'>
                                            <div class="form-group">
                                                <div class='input-group date datepicker'>
                                                    <input ng-model="EditPersonObject.dob" id='EditPersonObjectDob' type='text' class="form-control" />
                                                    <span class="input-group-addon">
                                                        <span class="glyphicon glyphicon-calendar"></span>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="item form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12">
                                            Gender <span class="required">*</span>
                                        </label>
                                        <div class="col-md-4 col-sm-6 col-xs-12">
                                            <select class="ui-select-custom" ng-model="EditPersonObject.gender" class="form-control" required="required" style="margin-top: 5px; width: 100px; height: 25px;">
                                                <option value="true">Male</option>
                                                <option value="false">Female</option>

                                            </select>
                                        </div>
                                    </div>
                                    <div class="item form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Bio</label>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <textarea ng-model="EditPersonObject.bio" class="form-control col-md-7 col-xs-12" type="text"></textarea>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-success" ng-click="UpdatePerson()">Save changes</button>
                        </div>
                    </div>
                </div>
            </div>

            <div id="EditMovie" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content" style="width: 600px; margin: auto;">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">
                                <span aria-hidden="true">×</span>
                            </button>
                            <h4 class="modal-title">Movie Details</h4>
                        </div>
                        <div class="modal-body">
                            <div class="modal x_panel" tabindex="-1" role="dialog" aria-hidden="true">
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <form class="form-horizontal form-label-left validateForm" novalidate>
                                        <div class="item form-group">
                                            <label class="control-label col-md-3 col-sm-3 col-xs-12">
                                                Movie name <span class="required">*</span>
                                            </label>
                                            <div class="col-md-4 col-sm-6 col-xs-12">
                                                <input ng-model="EditMovieObject.title" class="form-control col-md-7 col-xs-12" type="text">
                                            </div>
                                        </div>
                                        <div class="item form-group">
                                            <label class="control-label col-md-3 col-sm-3 col-xs-12">
                                                Plot <span class="required">*</span>
                                            </label>
                                            <div class="col-md-4 col-sm-6 col-xs-12">
                                                <textarea ng-model="EditMovieObject.plot" class="form-control col-md-7 col-xs-12"></textarea>
                                            </div>
                                        </div>
                                        <div class="item form-group">
                                            <label class="control-label col-md-3 col-sm-3 col-xs-12">
                                                Year of release <span class="required">*</span>
                                            </label>
                                            <div class="col-md-3 col-sm-6 col-xs-12">
                                                <select class="ui-select-custom" ng-model="EditMovieObject.releaseYear" style="margin-top: 10px;">
                                                    <option ng-repeat="year in YearList" value="{{year}}">{{year}}</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="item form-group">
                                            <label class="control-label col-md-3 col-sm-3 col-xs-12">
                                                Actors <span class="required">*</span>
                                            </label>
                                            <div class="col-md-4 col-sm-6 col-xs-12">
                                                <select class="ui-select-custom" ng-model="EditMovieObject.actors" multiple="true" style="margin-top: 10px;">
                                                    <option ng-repeat="actr in ActorsList" value="{{actr.id}}">{{actr.name}}</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="item form-group">
                                            <label class="control-label col-md-3 col-sm-3 col-xs-12">
                                                Producer <span class="required">*</span>
                                            </label>
                                            <div class="col-md-4 col-sm-6 col-xs-12">
                                                <select class="ui-select-custom" ng-model="EditMovieObject.producer" style="margin-top: 10px; width: 70px;">
                                                    <option ng-repeat="prod in ProducersList" value="{{prod.id}}">{{prod.name}}</option>
                                                </select>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-success" ng-click="UpdateMovieInfo($event)">Save changes</button>
                        </div>
                    </div>
                </div>
            </div>

            <div id="EditAllActors" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content" style="width: 950px; margin: auto;">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">
                                <span aria-hidden="true">×</span>
                            </button>
                            <h4 class="modal-title">Edit all actors</h4>
                        </div>
                        <div class="modal-body" style="display: inline-block; width: 100%;">
                            <div class="modal x_panel" tabindex="-1" role="dialog" aria-hidden="true">
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <table id="Table3" class="table table-striped table-bordered">
                                        <thead>
                                            <tr>
                                                <th>Name</th>
                                                <th>Date of birth</th>
                                                <th>Gender</th>
                                                <th>Bio</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="actor in ActorsList">
                                                <td>
                                                    <input ng-model="actor.name" class="form-control col-md-7 col-xs-12" type="text">
                                                </td>
                                                <td>
                                                    <div class='input-group date datepicker'>
                                                        <input ng-model="actor.dob" id="actorDob_{{actor.id}}" type='text' class="form-control" />
                                                        <span class="input-group-addon">
                                                            <span class="glyphicon glyphicon-calendar"></span>
                                                        </span>
                                                    </div>
                                                </td>
                                                <td>
                                                    <select class="ui-select-custom" ng-model="actor.gender" class="form-control" required="required">
                                                        <option value="true">Male</option>
                                                        <option value="false">Female</option>
                                                    </select>
                                                </td>
                                                <td>
                                                    <textarea ng-model="actor.bio" class="form-control col-md-7 col-xs-12" type="text"></textarea>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>

                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-success" ng-click="UpdateAllActors()">Save changes</button>
                        </div>
                    </div>
                </div>
            </div>

            <div id="EditAllProducers" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content" style="width: 950px; margin: auto;">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">
                                <span aria-hidden="true">×</span>
                            </button>
                            <h4 class="modal-title">Edit all producers</h4>
                        </div>
                        <div class="modal-body" style="display: inline-block; width: 100%;">
                            <div class="modal x_panel" tabindex="-1" role="dialog" aria-hidden="true">
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <table id="Table4" class="table table-striped table-bordered">
                                        <thead>
                                            <tr>
                                                <th>Name</th>
                                                <th>Date of birth</th>
                                                <th>Gender</th>
                                                <th>Bio</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="producer in ProducersList">
                                                <td>
                                                    <input ng-model="producer.name" class="form-control col-md-7 col-xs-12" type="text">
                                                </td>
                                                <td>
                                                    <div class='input-group date datepicker'>
                                                        <input ng-model="producer.dob" id="producerDob_{{producer.id}}" type='text' class="form-control" />
                                                        <span class="input-group-addon">
                                                            <span class="glyphicon glyphicon-calendar"></span>
                                                        </span>
                                                    </div>
                                                </td>
                                                <td>
                                                    <select class="ui-select-custom" ng-model="producer.gender" class="form-control" required="required">
                                                        <option value="true">Male</option>
                                                        <option value="false">Female</option>
                                                    </select>
                                                </td>
                                                <td>
                                                    <textarea ng-model="producer.bio" class="form-control col-md-7 col-xs-12" type="text"></textarea>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>

                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-success" ng-click="UpdateAllProducers()">Save changes</button>
                        </div>
                    </div>
                </div>
            </div>

            <div id="EditAllMovies" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content" style="width: 950px; margin: auto;">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">
                                <span aria-hidden="true">×</span>
                            </button>
                            <h4 class="modal-title">Edit all movies</h4>
                        </div>
                        <div class="modal-body" style="display: inline-block; width: 100%;">
                            <div class="modal x_panel" tabindex="-1" role="dialog" aria-hidden="true">
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <table id="Table5" class="table table-striped table-bordered">
                                        <thead>
                                            <tr>
                                                <th>Title</th>
                                                <th>Plot</th>
                                                <th>Year of Release</th>
                                                <th>Actors</th>
                                                <th>Producers</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="movie in MovieList">
                                                <td>
                                                    <input ng-model="movie.title" class="form-control col-md-7 col-xs-12" type="text">
                                                </td>
                                                <td>
                                                    <textarea ng-model="movie.plot" class="form-control col-md-7 col-xs-12" type="text"></textarea>
                                                </td>
                                                <td>
                                                    <select class="ui-select-custom" ng-model="movie.releaseYear" class="form-control" required="required">
                                                        <option ng-repeat="year in YearList" value="{{year}}">{{year}}</option>
                                                    </select>
                                                </td>
                                                <td>
                                                    <select class="ui-select-custom" ng-model="movie.actors" multiple="true" class="form-control" required="required">
                                                        <option ng-repeat="actr in ActorsList" value="{{actr.id}}">{{actr.name}}</option>
                                                    </select>
                                                </td>
                                                <td>
                                                    <select class="ui-select-custom" ng-model="movie.producer" class="form-control" required="required">
                                                        <option ng-repeat="prod in ProducersList" value="{{prod.id}}">{{prod.name}}</option>
                                                    </select>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>

                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-success" ng-click="UpdateAllMovies()">Save changes</button>
                        </div>
                    </div>
                </div>
            </div>
            <div id="AddExternalActor" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content" style="width: 600px; margin: auto;">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">
                                <span aria-hidden="true">×</span>
                            </button>
                            <h4 class="modal-title">Actor external actor</h4>
                        </div>
                        <div class="modal-body">
                            <div class="modal x_panel" tabindex="-1" role="dialog" aria-hidden="true">
                                <form id="Form1" class="form-horizontal form-label-left" novalidate>
                                    <div class="item form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12">
                                            ActorName <span class="required">*</span>
                                        </label>
                                        <div class="col-md-4 col-sm-6 col-xs-12">
                                            <input ng-model="ExternalActorObject.name" class="form-control col-md-7 col-xs-12" type="text">
                                        </div>
                                    </div>
                                    <div class="item form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12">
                                            Date of birth <span class="required">*</span>
                                        </label>
                                        <div class='col-sm-4'>
                                            <div class="form-group">
                                                <div class='input-group date datepicker'>
                                                    <input ng-model="ExternalActorObject.dob" id='externalActorBob' type='text' class="form-control" />
                                                    <span class="input-group-addon">
                                                        <span class="glyphicon glyphicon-calendar"></span>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="item form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12">
                                            Gender <span class="required">*</span>
                                        </label>
                                        <div class="col-md-4 col-sm-6 col-xs-12">
                                            <select class="ui-select-custom" ng-model="ExternalActorObject.gender" class="form-control" required="required">
                                                <option value="true">Male</option>
                                                <option value="false">Female</option>

                                            </select>
                                        </div>
                                    </div>
                                    <div class="item form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Bio</label>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <textarea ng-model="ExternalActorObject.bio" class="form-control col-md-7 col-xs-12" type="text"></textarea>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-success" ng-click="SaveExternalActor()">Save changes</button>
                        </div>
                    </div>
                </div>
            </div>

            <div id="AddExternalProducer" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content" style="width: 600px; margin: auto;">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">
                                <span aria-hidden="true">×</span>
                            </button>
                            <h4 class="modal-title">Producer external producer</h4>
                        </div>
                        <div class="modal-body">
                            <div class="modal x_panel" tabindex="-1" role="dialog" aria-hidden="true">
                                <form id="Form2" class="form-horizontal form-label-left" novalidate>
                                    <div class="item form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12">
                                            ProducerName <span class="required">*</span>
                                        </label>
                                        <div class="col-md-4 col-sm-6 col-xs-12">
                                            <input ng-model="ExternalProducerObject.name" class="form-control col-md-7 col-xs-12" type="text">
                                        </div>
                                    </div>
                                    <div class="item form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12">
                                            Date of birth <span class="required">*</span>
                                        </label>
                                        <div class='col-sm-4'>
                                            <div class="form-group">
                                                <div class='input-group date datepicker'>
                                                    <input ng-model="ExternalProducerObject.dob" id='externalProducerBob' type='text' class="form-control" />
                                                    <span class="input-group-addon">
                                                        <span class="glyphicon glyphicon-calendar"></span>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="item form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12">
                                            Gender <span class="required">*</span>
                                        </label>
                                        <div class="col-md-4 col-sm-6 col-xs-12">
                                            <select class="ui-select-custom" ng-model="ExternalProducerObject.gender" class="form-control" required="required">
                                                <option value="true">Male</option>
                                                <option value="false">Female</option>

                                            </select>
                                        </div>
                                    </div>
                                    <div class="item form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Bio</label>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <textarea ng-model="ExternalProducerObject.bio" class="form-control col-md-7 col-xs-12" type="text"></textarea>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-success" ng-click="SaveExternalProducer()">Save changes</button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <footer>
            <div class="pull-right">
            </div>
            <div class="clearfix"></div>
        </footer>
    </div>

    <script src="Scripts/angular.min.js"></script>
    <script src="Assets/js/Angularjs/AngularUI/select2.js"></script>
    <!--<script src="Assets/js/Angularjs/AngularUI/ui-bootstrap-tpls-0.11.0.js"></script>-->
    <script src="app/angularseed.js"></script>
    <script src="app/main.js"></script>

    <script src="Assets/vendors/jquery/dist/jquery.js"></script>
    <script src="Assets/vendors/jquery/dist/jquery.cookie.js"></script>
    <script src="Assets/vendors/bootstrap/dist/js/bootstrap.js"></script>
    <script src="Assets/vendors/fastclick/lib/fastclick.js"></script>
    <script src="Assets/vendors/nprogress/nprogress.js"></script>
    <script src="Assets/vendors/Chart.js/dist/Chart.js"></script>
    <script src="Assets/vendors/gauge.js/dist/gauge.js"></script>
    <script src="Assets/vendors/bootstrap-progressbar/bootstrap-progressbar.js"></script>
    <script src="Assets/vendors/iCheck/icheck.js"></script>
    <script src="Assets/vendors/skycons/skycons.js"></script>
    <script src="Assets/vendors/Flot/jquery.flot.js"></script>
    <script src="Assets/vendors/Flot/jquery.flot.pie.js"></script>
    <script src="Assets/vendors/Flot/jquery.flot.time.js"></script>
    <script src="Assets/vendors/Flot/jquery.flot.stack.js"></script>
    <script src="Assets/vendors/Flot/jquery.flot.resize.js"></script>
    <script src="Assets/vendors/flot.orderbars/js/jquery.flot.orderBars.js"></script>
    <script src="Assets/vendors/flot-spline/js/jquery.flot.spline.js"></script>
    <script src="Assets/vendors/flot.curvedlines/curvedLines.js"></script>
    <script src="Assets/vendors/DateJS/build/date.js"></script>
    <script src="Assets/vendors/jqvmap/dist/jquery.vmap.js"></script>
    <script src="Assets/vendors/jqvmap/dist/maps/jquery.vmap.world.js"></script>
    <script src="Assets/vendors/jqvmap/examples/js/jquery.vmap.sampledata.js"></script>
    <script src="Assets/vendors/moment/min/moment.min.js"></script>
    <script src="Assets/vendors/bootstrap-daterangepicker/daterangepicker.js"></script>
    <script src="Assets/vendors/bootstrap-datetimepicker/src/js/bootstrap-datetimepicker.js"></script>
    <script src="Assets/js/custom.js"></script>
    <script src="Assets/vendors/datatables.net/js/jquery.dataTables.js"></script>
    <script src="Assets/vendors/datatables.net-bs/js/dataTables.bootstrap.js"></script>
    <script src="Assets/vendors/datatables.net-buttons/js/dataTables.buttons.js"></script>
    <script src="Assets/vendors/datatables.net-buttons-bs/js/buttons.bootstrap.js"></script>
    <script src="Assets/vendors/datatables.net-buttons/js/buttons.flash.js"></script>
    <script src="Assets/vendors/datatables.net-buttons/js/buttons.html5.js"></script>
    <script src="Assets/vendors/datatables.net-buttons/js/buttons.print.js"></script>
    <script src="Assets/vendors/datatables.net-fixedheader/js/dataTables.fixedHeader.js"></script>
    <script src="Assets/vendors/datatables.net-keytable/js/dataTables.keyTable.js"></script>
    <script src="Assets/vendors/datatables.net-responsive/js/dataTables.responsive.js"></script>
    <script src="Assets/vendors/datatables.net-responsive-bs/js/responsive.bootstrap.js"></script>
    <script src="Assets/vendors/datatables.net-scroller/js/dataTables.scroller.js"></script>
    <script src="Assets/vendors/pnotify/dist/pnotify.js"></script>
    <script src="Assets/vendors/pnotify/dist/pnotify.buttons.js"></script>
    <script src="Assets/vendors/pnotify/dist/pnotify.nonblock.js"></script>
    <script src="Assets/js/bootbox.min.js"></script>
    <script src="Assets/vendors/validator/validator.js"></script>
    <script type="text/javascript">


        function previewFile(id) {
            var preview = document.querySelector('img');
            var file = document.querySelector('input[type=file]').files[0];
            var reader = new FileReader();

            reader.addEventListener("load", function () {
                preview.src = reader.result;
            }, false);

            if (file) {
                reader.readAsDataURL(file);
                $("#attchPreview").attr("style", "height:100px;width:100px;")
            }
        }
    </script>
</body>
</html>
