﻿<div id="actorList" ng-show="viewId==1">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <button type="button" class="btn btn-primary collapse-link" style="float: right; margin-top: 5px;">
                    Add user <i class="fa fa-chevron-up"></i>
                </button>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <form id="userCreationForm" class="form-horizontal form-label-left validateForm" novalidate>
                    <div class="item form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="name">
                            Name <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <input id="name" class="form-control col-md-7 col-xs-12" data-validate-length-range="6" name="name" placeholder="both name(s) e.g Jon Doe" required="required" type="text">
                        </div>
                    </div>
                    <div class="item form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="email">
                            Email <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <input type="email" id="email" name="email" required="required" class="form-control col-md-7 col-xs-12">
                        </div>
                    </div>
                    <div class="item form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="email">
                            Confirm Email <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <input type="email" id="email2" name="confirm_email" data-validate-linked="email" required="required" class="form-control col-md-7 col-xs-12">
                        </div>
                    </div>
                    <div class="item form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="role">
                            User Role <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <select class="form-control" required="required" id="userRole">
                                <option value="2">Member</option>
                                <option value="1">Admin</option>

                            </select>
                        </div>
                    </div>
                    <div class="ln_solid"></div>
                    <div class="form-group">
                        <div class="col-md-6 col-md-offset-3">
                            <button class="btn btn-primary" onclick="cancelUserCreation(event)">Cancel</button>
                            <button class="btn btn-success" onclick="createUser(event)">Create</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Users</h2>

                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <table id="userTable" class="table table-striped table-bordered"></table>
            </div>
        </div>
    </div>
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Registered users</h2>

                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <table id="RegisteredUserTable" class="table table-striped table-bordered"></table>
            </div>
        </div>
    </div>
</div>
