﻿<div id="MoviesView" ng-show="viewId==0">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <button type="button" class="btn btn-primary collapse-link" style="float: right; margin-top: 5px;">
                    New Ticket <i class="fa fa-chevron-up"></i>
                </button>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <form id="newTicketForm" class="form-horizontal form-label-left validateForm" novalidate>
                    <div class="item form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="module">
                            Module <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <input id="module" class="form-control col-md-7 col-xs-12" data-validate-length-range="6" name="name" placeholder="" required="required" type="text">
                        </div>
                    </div>
                    <div class="item form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="title">
                            Title <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <input type="text" id="title" name="title" required="required" class="form-control col-md-7 col-xs-12">
                        </div>
                    </div>
                    <div class="item form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="description">
                            Description <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <textarea id="description" name="description" required="required" class="form-control col-md-7 col-xs-12"></textarea>
                        </div>
                    </div>
                    <div class="item form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="comment">
                            Comment
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <textarea type="text" id="comment" name="comment" class="form-control col-md-7 col-xs-12"></textarea>
                        </div>
                    </div>

                    <div class="item form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="attachment">
                            Attachment
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <input type="file" id="attachment" name="attachment" class="form-control col-md-7 col-xs-12">
                        </div>
                    </div>
                    <div class="item form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="priorityLevel">
                            Level <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <select class="form-control" required="required" id="priorityLevel">
                                <option value="1"><span style="background-color: rosybrown"></span>Low</option>
                                <option value="2"><span style="background-color: cornflowerblue"></span>Medium</option>
                                <option value="3"><span style="background-color: darkorange"></span>High</option>
                                <option value="4"><span style="background-color: red"></span>Critical</option>
                            </select>
                        </div>
                    </div>
                    <div class="ln_solid"></div>
                    <div class="form-group">
                        <div class="col-md-6 col-md-offset-3">
                            <button class="btn btn-primary" onclick="cancelNewTicket(event)">Cancel</button>
                            <button class="btn btn-success" onclick="createNewTicket(event)">Create</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div id="MovieList" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">
                        <span aria-hidden="true">×</span>
                    </button>
                    <h4 class="modal-title" id="myModalLabel">Tickets Details</h4>
                </div>
                <div class="modal-body">
                    <div class="modal x_panel detailsBlock" tabindex="-1" role="dialog" aria-hidden="true">
                        <form id="ViewEditTicketForm" class="form-horizontal form-label-left" novalidate>

                            <div class="item form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12">Id</label>
                                <label id="viewId" class="control-value col-md-3 col-sm-3 col-xs-12"></label>
                            </div>
                            <div id="ticketEdit">
                                <div class="item form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12">Module</label>
                                    <div class="col-md-9 col-sm-6 col-xs-12">
                                        <input id="editModule" class="form-control col-md-7 col-xs-12" data-validate-length-range="6" placeholder="" required="required" type="text">
                                    </div>
                                </div>
                                <div class="item form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12">Title</label>
                                    <div class="col-md-9 col-sm-6 col-xs-12">
                                        <input id="editTitle" class="form-control col-md-7 col-xs-12" data-validate-length-range="6" placeholder="" required="required" type="text">
                                    </div>
                                </div>
                                <div class="item form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12">Description</label>
                                    <div class="col-md-9 col-sm-6 col-xs-12">
                                        <textarea id="editDescription" class="form-control col-md-7 col-xs-12" data-validate-length-range="6" placeholder="" required="required" type="text"></textarea>
                                    </div>
                                </div>
                                <div class="item form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12">Comment</label>
                                    <div class="col-md-9 col-sm-6 col-xs-12">
                                        <textarea id="editComment" class="form-control col-md-7 col-xs-12" data-validate-length-range="6" placeholder="" required="required" type="text"></textarea>
                                    </div>
                                </div>
                                <div class="item form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12">status</label>
                                    <div class="col-md-9 col-sm-6 col-xs-12">
                                        <select class="form-control selectTicketStatus" required="required" id="editStatus"></select>
                                    </div>
                                </div>
                                <div class="item form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12">Priority level</label>
                                    <div class="col-md-9 col-sm-6 col-xs-12">
                                        <select class="form-control selectPriorityLevel" required="required" id="editLevel"></select>
                                    </div>
                                </div>
                                <div class="item form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12">Assigned to</label>
                                    <div class="col-md-9 col-sm-6 col-xs-12">
                                        <select class="form-control selectUser" required="required" id="editAssignedTo"></select>
                                    </div>
                                </div>
                            </div>
                            <div id="ticketView">
                                <div class="item form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12">Module</label>
                                    <label id="viewModule" class="control-value col-md-3 col-sm-3 col-xs-12"></label>
                                </div>
                                <div class="item form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12">Title</label>
                                    <label id="viewTitle" class="control-value col-md-3 col-sm-3 col-xs-12"></label>
                                </div>
                                <div class="item form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12">Description</label>
                                    <label id="viewDescription" class="control-value col-md-3 col-sm-3 col-xs-12"></label>
                                </div>
                                <div class="item form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12">Comment</label>
                                    <label id="viewComment" class="control-value col-md-3 col-sm-3 col-xs-12"></label>
                                </div>
                                <div class="item form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12">status</label>
                                    <label id="viewstatus" class="control-value col-md-3 col-sm-3 col-xs-12"></label>
                                </div>
                                <div class="item form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12">Priority level</label>
                                    <label id="viewLevel" class="control-value col-md-3 col-sm-3 col-xs-12"></label>
                                </div>
                                <div class="item form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12">Assigned to</label>
                                    <label id="viewAssigneTo" class="control-value col-md-3 col-sm-3 col-xs-12"></label>
                                </div>
                            </div>
                            <div class="item form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12">Assigned by</label>
                                <label id="viewAssignedBy" class="control-value col-md-3 col-sm-3 col-xs-12"></label>
                            </div>
                            <div class="item form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12">Rasied on</label>
                                <label id="viewRasiedOn" class="control-value col-md-3 col-sm-3 col-xs-12"></label>
                            </div>
                            <div class="item form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12">Raised by</label>
                                <label id="viewRaisedBy" class="control-value col-md-3 col-sm-3 col-xs-12"></label>
                            </div>
                            <div class="item form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12">Type</label>
                                <label id="viewType" class="control-value col-md-3 col-sm-3 col-xs-12"></label>
                            </div>
                        </form>
                    </div>
                    <div id="newsFeedBlock" class="modal x_panel FeedBlock" tabindex="-1" role="dialog" aria-hidden="true">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button id="cancelEditTicket" type="button" class="btn btn-primary" onclick="cancelEditTicket()">Cancel</button>
                    <button id="editThisTicket" type="button" class="btn btn-primary" onclick="editThisTicket()">Edit</button>
                    <button id="UpdateThisTicket" type="button" class="btn btn-success" onclick="UpdateThisTicket()">Save changes</button>
                </div>
            </div>
        </div>
    </div>
</div>
